# Copy this file to terraform.tfvars and fill in the values

region             = "us-east-1"
project_name       = "miniapps-ai"
environment        = "prod"
# api_stage_name     = "v1"
allowed_origins = [
  "http://localhost:0000"
]
route53_zone_id = "Z1234567890ABCDEF"
apps_domain     = "app.example.com"
client_domain = "https://app.netlify.com"
root_domain     = "your-app-domain.app"
apps_domain     = "app.your-app-domain.app"